<h1>FizzBuzz</h1>

<p>Enter a number to FizzBuzz</p>

<form action='/fizzbuzz' method='post'>
  <label for='number'>Enter a number</label>
  <input type='integer' id='number' name='number'>

  <button>FizzBuzz!</button>
</form>
